<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>DefaultActivity</servlet-name>
		<servlet-class>ai.legendary.apache.DefaultActivity</servlet-class>
	</servlet><!--
	<servlet>
		<servlet-name>Tokenize</servlet-name>
		<servlet-class>ai.legendary.apache.TokenService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tokenize</servlet-name>
		<url-pattern>/1.7.2/Tokenize/*</url-pattern>
	</servlet-mapping>-->
	<servlet-mapping>
		<servlet-name>DefaultActivity</servlet-name>
		<url-pattern>/1.7.2/*</url-pattern>
	</servlet-mapping>
</web-app>
